@model IEnumerable<EventsDomain.Models.Faculty>

@{
    ViewData["Title"] = "Факультет -";
}

<h1>Факультет @ViewBag.DepartmentName </h1>

<p>
    @Html.ActionLink("Додати", "Create", "Faculties", new { departmentId = ViewBag.DepartmentId }, null)
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
